.navbar-default {
	background-color:#C72027;
	vertical-align:middle;
}
.navbar-default .navbar-brand{
	color:#ffffff;
	font-size:30px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

h3 {
	color:#C72027;
	font-size:20px;
}

h5 {
	font-size:45px;
	text-align:center;
}

h2 {
	color:#ffffff;
	font-size:25px;
}
h4 {
	color:#ffffff;
	font-size:15px;
	font-weight:normal;
}

.btn-danger{
	background-color:#C72027;
}

.tcol{
	color:#ffffff;
	background-color:#C72027;
}

.vcenter {
	vertical-align:middle;
}